
@{
    ViewBag.Title = "Index";
}

<h4 class="text-center">Your Calendar </h4>


<div>  
    @Html.Partial("_Calendar")
</div>

<script type="text/javascript">
    $(document).ready(function () {
       // store username, image and postion of employee among all views for the side bar menu
        // using ssesion 
        sessionStorage.setItem('UserID', '@ViewBag.userId')
        sessionStorage.setItem('userName', '@ViewBag.Name');
        sessionStorage.setItem('imagePath', '@ViewBag.ImagePath');
        sessionStorage.setItem('position', '@ViewBag.Position');
    });
</script>