@using Microsoft.AspNet.Identity;

@if (Request.IsAuthenticated)
{
    <div class="card" style="width:14rem;">
       
        <img class="card-img-top img-thumbnail" src="" alt="Card image cap " id="userImage">
        <div class="card-body">               
                <h5 class="card-title" id="userName">  </h5>
                <p class="card-text" id="userPosition"></p>        
        </div>
        
        <ul class="nav flex-column">

            @if ( HttpContext.Current.User.IsInRole("Employee"))
            {
                <li class="nav-item">                   
                    <a class="nav-link active" href="@Url.Action("Index", "Employee")">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("GetLeaveHistory", "Employee", new { id = User.Identity.GetUserId() })">Leave Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="@Url.Action("Index", "Employee")">Leave summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Edit", "Employee", new { id = User.Identity.GetUserId() })">Profile</a>
                </li>
            }

            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
            }
        </ul>
    </div>
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        //// get the userName , userImagePath and userPosition  stored in sessionStorage      
        var imageFileName = sessionStorage.getItem('imagePath') + "";
        $('#userName').text(sessionStorage.getItem('userName'));
        $('#userImage').attr('src', imageFileName);
        $('#userPosition').text(sessionStorage.getItem('position'));
       
    });
</script>


